.contact-header {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}
.contact-form {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.contact-form form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}